APP_NAME=TaxVault
APP_ENV=local

POSTGRES_DB=taxvault
POSTGRES_USER=taxvault
POSTGRES_PASSWORD=taxvault_dev

REDIS_PASSWORD=

MINIO_ROOT_USER=taxvault
MINIO_ROOT_PASSWORD=taxvault_dev_password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_dev_password

S3_ENDPOINT=http://minio:9000
S3_BUCKET=taxvault
S3_ACCESS_KEY=taxvault
S3_SECRET_KEY=taxvault_dev_password
S3_REGION=ap-southeast-2

KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=taxvault
KEYCLOAK_CLIENT_ID=taxvault-web
